<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="CarSeries">

	<resultMap id="CarSeries.RM" type="com.hosa.web.model.CarSeries">
        <result property="id" column="id"/>        
        <result property="departmentId" column="department_id"/>        
        <result property="brandType" column="brand_type"/>        
        <result property="seriesName" column="series_name"/>        
        <result property="picUrl" column="pic_url"/>        
        <result property="picLink" column="pic_link"/>        
        <result property="bgUrl" column="bg_url"/>        
        <result property="bgLink" column="bg_link"/>        
        <result property="recommend" column="recommend"/>        
        <result property="recommendTime" column="recommend_time"/>        
        <result property="modified" column="modified"/>        
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="CarSeries.columns">
	    <![CDATA[
		t_car_series.id,t_car_series.department_id,t_car_series.brand_type,t_car_series.series_name,t_car_series.pic_url,t_car_series.pic_link,t_car_series.bg_url,t_car_series.bg_link,t_car_series.recommend,t_car_series.recommend_time,t_car_series.modified
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="CarSeries.insert" useGeneratedKeys="true" keyProperty="id">
   
        INSERT INTO t_car_series (
	        	id
		     	<if test="@Ognl@isNotNull(departmentId)">
		        	,department_id
		      	</if>
		     	<if test="@Ognl@isNotNull(brandType)">
		        	,brand_type
		      	</if>
		     	<if test="@Ognl@isNotNull(seriesName)">
		        	,series_name
		      	</if>
		     	<if test="@Ognl@isNotNull(picUrl)">
		        	,pic_url
		      	</if>
		     	<if test="@Ognl@isNotNull(picLink)">
		        	,pic_link
		      	</if>
		     	<if test="@Ognl@isNotNull(bgUrl)">
		        	,bg_url
		      	</if>
		     	<if test="@Ognl@isNotNull(bgLink)">
		        	,bg_link
		      	</if>
		     	<if test="@Ognl@isNotNull(recommend)">
		        	,recommend
		      	</if>
		     	<if test="@Ognl@isNotNull(recommendTime)">
		        	,recommend_time
		      	</if>
		     	<if test="@Ognl@isNotNull(modified)">
		        	,modified
		      	</if>
        
        ) VALUES (
	        	#{id}
		     	<if test="@Ognl@isNotNull(departmentId)">
		        	,#{departmentId}
		      	</if>
		     	<if test="@Ognl@isNotNull(brandType)">
		        	,#{brandType}
		      	</if>
		     	<if test="@Ognl@isNotNull(seriesName)">
		        	,#{seriesName}
		      	</if>
		     	<if test="@Ognl@isNotNull(picUrl)">
		        	,#{picUrl}
		      	</if>
		     	<if test="@Ognl@isNotNull(picLink)">
		        	,#{picLink}
		      	</if>
		     	<if test="@Ognl@isNotNull(bgUrl)">
		        	,#{bgUrl}
		      	</if>
		     	<if test="@Ognl@isNotNull(bgLink)">
		        	,#{bgLink}
		      	</if>
		     	<if test="@Ognl@isNotNull(recommend)">
		        	,#{recommend}
		      	</if>
		     	<if test="@Ognl@isNotNull(recommendTime)">
		        	,#{recommendTime}
		      	</if>
		     	<if test="@Ognl@isNotNull(modified)">
		        	,#{modified}
		      	</if>
        )
    
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="CarSeries.update" >
    
        UPDATE t_car_series 
			<set>
		        <if test="@Ognl@isNotNull(departmentId)">
		        		department_id = #{departmentId},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(brandType)">
		        		brand_type = #{brandType},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(seriesName)">
		        		series_name = #{seriesName},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(picUrl)">
		        		pic_url = #{picUrl},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(picLink)">
		        		pic_link = #{picLink},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(bgUrl)">
		        		bg_url = #{bgUrl},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(bgLink)">
		        		bg_link = #{bgLink},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(recommend)">
		        		recommend = #{recommend},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(recommendTime)">
		        		recommend_time = #{recommendTime},
		        	</if>
		        	
		        	
	        </set>
        WHERE 
	        id = #{id} 
			<if test="@Ognl@isNotNull(modified)">
		      and 
   			modified = #{modified}
		    </if>
   
	</update>

    <delete id="CarSeries.delete">
    <![CDATA[
        DELETE FROM t_car_series 
        WHERE
        id = #{id} 
    ]]>
    </delete>
    <delete id="CarSeries.deleteMultiple">

        DELETE FROM t_car_series 
        WHERE
        	id in
        	<foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
#{id}			</foreach>
          
   
    </delete>
    <select id="CarSeries.getById" resultMap="CarSeries.RM">
		SELECT 
		<include refid="CarSeries.columns" />
	    <![CDATA[
		    FROM t_car_series as t_car_series
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
	<select id="CarSeries.getByMultipleId" resultMap="CarSeries.RM">
		SELECT 
		<include refid="CarSeries.columns" />
		    FROM t_car_series as t_car_series
	        WHERE 
		       id in
        	<foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
#{id}			</foreach>
          
	</select>
	
	<sql id="CarSeries.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
			<if test="@Ognl@isNotEmpty(id)">
				AND t_car_series.id = #{id}
			</if>
			<if test="@Ognl@isNotEmpty(idNotEq)">
				AND t_car_series.id &lt;&gt; #{idNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(idGT)">
				AND t_car_series.id &gt; #{idGT}
			</if>
			<if test="@Ognl@isNotEmpty(idLT)">
				AND t_car_series.id &lt; #{idLT}
			</if>
			<if test="@Ognl@isNotEmpty(idGE)">
				AND t_car_series.id &gt;= #{idGE}
			</if>
			<if test="@Ognl@isNotEmpty(idLE)">
				AND t_car_series.id &lt;= #{idLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(idList)">
				AND t_car_series.id in
				<foreach collection="idList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(idNotEqList)">
				AND t_car_series.id not in
				<foreach collection="idNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
			<if test="@Ognl@isNotEmpty(departmentId)">
				AND t_car_series.department_id = #{departmentId}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdNotEq)">
				AND t_car_series.department_id &lt;&gt; #{departmentIdNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdGT)">
				AND t_car_series.department_id &gt; #{departmentIdGT}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdLT)">
				AND t_car_series.department_id &lt; #{departmentIdLT}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdGE)">
				AND t_car_series.department_id &gt;= #{departmentIdGE}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdLE)">
				AND t_car_series.department_id &lt;= #{departmentIdLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(departmentIdList)">
				AND t_car_series.department_id in
				<foreach collection="departmentIdList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(departmentIdNotEqList)">
				AND t_car_series.department_id not in
				<foreach collection="departmentIdNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
			<if test="@Ognl@isNotEmpty(brandType)">
				AND t_car_series.brand_type = #{brandType}
			</if>
			<if test="@Ognl@isNotEmpty(brandTypeNotEq)">
				AND t_car_series.brand_type &lt;&gt; #{brandTypeNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(brandTypeGT)">
				AND t_car_series.brand_type &gt; #{brandTypeGT}
			</if>
			<if test="@Ognl@isNotEmpty(brandTypeLT)">
				AND t_car_series.brand_type &lt; #{brandTypeLT}
			</if>
			<if test="@Ognl@isNotEmpty(brandTypeGE)">
				AND t_car_series.brand_type &gt;= #{brandTypeGE}
			</if>
			<if test="@Ognl@isNotEmpty(brandTypeLE)">
				AND t_car_series.brand_type &lt;= #{brandTypeLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(brandTypeList)">
				AND t_car_series.brand_type in
				<foreach collection="brandTypeList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(brandTypeNotEqList)">
				AND t_car_series.brand_type not in
				<foreach collection="brandTypeNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(seriesName)">
				AND t_car_series.series_name = #{seriesName}
			</if>
			<if test="@Ognl@isNotEmpty(seriesNameLike)">
				AND t_car_series.series_name like CONCAT('%', CONVERT(#{seriesNameLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(seriesNameBeginLike)">
				AND t_car_series.series_name like CONCAT('', CONVERT(#{seriesNameBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(seriesNameEndLike)">
				AND t_car_series.series_name like CONCAT('%', CONVERT(#{seriesNameEndLike}, char) ,'') 
			</if>
		   <if test="@Ognl@isNotEmpty(picUrl)">
				AND t_car_series.pic_url = #{picUrl}
			</if>
			<if test="@Ognl@isNotEmpty(picUrlLike)">
				AND t_car_series.pic_url like CONCAT('%', CONVERT(#{picUrlLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(picUrlBeginLike)">
				AND t_car_series.pic_url like CONCAT('', CONVERT(#{picUrlBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(picUrlEndLike)">
				AND t_car_series.pic_url like CONCAT('%', CONVERT(#{picUrlEndLike}, char) ,'') 
			</if>
		   <if test="@Ognl@isNotEmpty(picLink)">
				AND t_car_series.pic_link = #{picLink}
			</if>
			<if test="@Ognl@isNotEmpty(picLinkLike)">
				AND t_car_series.pic_link like CONCAT('%', CONVERT(#{picLinkLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(picLinkBeginLike)">
				AND t_car_series.pic_link like CONCAT('', CONVERT(#{picLinkBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(picLinkEndLike)">
				AND t_car_series.pic_link like CONCAT('%', CONVERT(#{picLinkEndLike}, char) ,'') 
			</if>
		   <if test="@Ognl@isNotEmpty(bgUrl)">
				AND t_car_series.bg_url = #{bgUrl}
			</if>
			<if test="@Ognl@isNotEmpty(bgUrlLike)">
				AND t_car_series.bg_url like CONCAT('%', CONVERT(#{bgUrlLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(bgUrlBeginLike)">
				AND t_car_series.bg_url like CONCAT('', CONVERT(#{bgUrlBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(bgUrlEndLike)">
				AND t_car_series.bg_url like CONCAT('%', CONVERT(#{bgUrlEndLike}, char) ,'') 
			</if>
		   <if test="@Ognl@isNotEmpty(bgLink)">
				AND t_car_series.bg_link = #{bgLink}
			</if>
			<if test="@Ognl@isNotEmpty(bgLinkLike)">
				AND t_car_series.bg_link like CONCAT('%', CONVERT(#{bgLinkLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(bgLinkBeginLike)">
				AND t_car_series.bg_link like CONCAT('', CONVERT(#{bgLinkBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(bgLinkEndLike)">
				AND t_car_series.bg_link like CONCAT('%', CONVERT(#{bgLinkEndLike}, char) ,'') 
			</if>
		   <if test="@Ognl@isNotEmpty(recommend)">
				AND t_car_series.recommend = #{recommend}
			</if>
			<if test="@Ognl@isNotEmpty(recommendLike)">
				AND t_car_series.recommend like CONCAT('%', CONVERT(#{recommendLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(recommendBeginLike)">
				AND t_car_series.recommend like CONCAT('', CONVERT(#{recommendBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(recommendEndLike)">
				AND t_car_series.recommend like CONCAT('%', CONVERT(#{recommendEndLike}, char) ,'') 
			</if>
	       <if test="@Ognl@isNotEmpty(recommendTimeBegin)">
				AND t_car_series.recommend_time &gt;= #{recommendTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(recommendTimeEnd)">
				AND t_car_series.recommend_time &lt;= #{recommendTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(modifiedBegin)">
				AND t_car_series.modified &gt;= #{modifiedBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(modifiedEnd)">
				AND t_car_series.modified &lt;= #{modifiedEnd}
		   </if>
		</where>
	</sql>
		
    <select id="CarSeries.findPage.count" resultType="long">
        SELECT count(*) FROM t_car_series as t_car_series 
		<include refid="CarSeries.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="CarSeries.findPage" resultMap="CarSeries.RM">
    	SELECT 
    	<include refid="CarSeries.columns" />
	    FROM t_car_series as t_car_series 
		<include refid="CarSeries.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
    
    <select id="CarSeries.findList" resultMap="CarSeries.RM">
    	SELECT 
    	<include refid="CarSeries.columns" />
	     FROM t_car_series as t_car_series 
		<include refid="CarSeries.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	
</mapper>

