<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="Message">

	<resultMap id="Message.RM" type="com.hosa.web.model.Message">
        <result property="id" column="id"/>        
        <result property="departmentId" column="department_id"/>        
        <result property="recipient" column="recipient"/>        
        <result property="materialId" column="material_id"/>        
        <result property="category" column="category"/>        
        <result property="name" column="name"/>        
        <result property="description" column="description"/>        
        <result property="sendTime" column="send_time"/>        
        <result property="status" column="status"/>        
        <result property="modified" column="modified"/>        
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Message.columns">
	    <![CDATA[
		t_message.id,t_message.department_id,t_message.recipient,t_message.material_id,t_message.category,t_message.name,t_message.description,t_message.send_time,t_message.status,t_message.modified
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="Message.insert" useGeneratedKeys="true" keyProperty="id">
   
        INSERT INTO t_message (
	        	id
		     	<if test="@Ognl@isNotNull(departmentId)">
		        	,department_id
		      	</if>
		     	<if test="@Ognl@isNotNull(recipient)">
		        	,recipient
		      	</if>
		     	<if test="@Ognl@isNotNull(materialId)">
		        	,material_id
		      	</if>
		     	<if test="@Ognl@isNotNull(category)">
		        	,category
		      	</if>
		     	<if test="@Ognl@isNotNull(name)">
		        	,name
		      	</if>
		     	<if test="@Ognl@isNotNull(description)">
		        	,description
		      	</if>
		     	<if test="@Ognl@isNotNull(sendTime)">
		        	,send_time
		      	</if>
		     	<if test="@Ognl@isNotNull(status)">
		        	,status
		      	</if>
		     	<if test="@Ognl@isNotNull(modified)">
		        	,modified
		      	</if>
        
        ) VALUES (
	        	#{id}
		     	<if test="@Ognl@isNotNull(departmentId)">
		        	,#{departmentId}
		      	</if>
		     	<if test="@Ognl@isNotNull(recipient)">
		        	,#{recipient}
		      	</if>
		     	<if test="@Ognl@isNotNull(materialId)">
		        	,#{materialId}
		      	</if>
		     	<if test="@Ognl@isNotNull(category)">
		        	,#{category}
		      	</if>
		     	<if test="@Ognl@isNotNull(name)">
		        	,#{name}
		      	</if>
		     	<if test="@Ognl@isNotNull(description)">
		        	,#{description}
		      	</if>
		     	<if test="@Ognl@isNotNull(sendTime)">
		        	,#{sendTime}
		      	</if>
		     	<if test="@Ognl@isNotNull(status)">
		        	,#{status}
		      	</if>
		     	<if test="@Ognl@isNotNull(modified)">
		        	,#{modified}
		      	</if>
        )
    
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="Message.update" >
    
        UPDATE t_message 
			<set>
		        <if test="@Ognl@isNotNull(departmentId)">
		        		department_id = #{departmentId},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(recipient)">
		        		recipient = #{recipient},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(materialId)">
		        		material_id = #{materialId},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(category)">
		        		category = #{category},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(name)">
		        		name = #{name},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(description)">
		        		description = #{description},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(sendTime)">
		        		send_time = #{sendTime},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(status)">
		        		status = #{status},
		        	</if>
		        	
		        	
	        </set>
        WHERE 
	        id = #{id} 
			<if test="@Ognl@isNotNull(modified)">
		      and 
   			modified = #{modified}
		    </if>
   
	</update>

    <delete id="Message.delete">
    <![CDATA[
        DELETE FROM t_message 
        WHERE
        id = #{id} 
    ]]>
    </delete>
    <delete id="Message.deleteMultiple">

        DELETE FROM t_message 
        WHERE
        	id in
        	<foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
#{id}			</foreach>
          
   
    </delete>
    <select id="Message.getById" resultMap="Message.RM">
		SELECT 
		<include refid="Message.columns" />
	    <![CDATA[
		    FROM t_message as t_message
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
	<select id="Message.getByMultipleId" resultMap="Message.RM">
		SELECT 
		<include refid="Message.columns" />
		    FROM t_message as t_message
	        WHERE 
		       id in
        	<foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
#{id}			</foreach>
          
	</select>
	
	<sql id="Message.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
			<if test="@Ognl@isNotEmpty(id)">
				AND t_message.id = #{id}
			</if>
			<if test="@Ognl@isNotEmpty(idNotEq)">
				AND t_message.id &lt;&gt; #{idNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(idGT)">
				AND t_message.id &gt; #{idGT}
			</if>
			<if test="@Ognl@isNotEmpty(idLT)">
				AND t_message.id &lt; #{idLT}
			</if>
			<if test="@Ognl@isNotEmpty(idGE)">
				AND t_message.id &gt;= #{idGE}
			</if>
			<if test="@Ognl@isNotEmpty(idLE)">
				AND t_message.id &lt;= #{idLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(idList)">
				AND t_message.id in
				<foreach collection="idList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(idNotEqList)">
				AND t_message.id not in
				<foreach collection="idNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
			<if test="@Ognl@isNotEmpty(departmentId)">
				AND t_message.department_id = #{departmentId}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdNotEq)">
				AND t_message.department_id &lt;&gt; #{departmentIdNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdGT)">
				AND t_message.department_id &gt; #{departmentIdGT}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdLT)">
				AND t_message.department_id &lt; #{departmentIdLT}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdGE)">
				AND t_message.department_id &gt;= #{departmentIdGE}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdLE)">
				AND t_message.department_id &lt;= #{departmentIdLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(departmentIdList)">
				AND t_message.department_id in
				<foreach collection="departmentIdList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(departmentIdNotEqList)">
				AND t_message.department_id not in
				<foreach collection="departmentIdNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(recipient)">
				AND t_message.recipient = #{recipient}
			</if>
			<if test="@Ognl@isNotEmpty(recipientLike)">
				AND t_message.recipient like CONCAT('%', CONVERT(#{recipientLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(recipientBeginLike)">
				AND t_message.recipient like CONCAT('', CONVERT(#{recipientBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(recipientEndLike)">
				AND t_message.recipient like CONCAT('%', CONVERT(#{recipientEndLike}, char) ,'') 
			</if>
			<if test="@Ognl@isNotEmpty(materialId)">
				AND t_message.material_id = #{materialId}
			</if>
			<if test="@Ognl@isNotEmpty(materialIdNotEq)">
				AND t_message.material_id &lt;&gt; #{materialIdNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(materialIdGT)">
				AND t_message.material_id &gt; #{materialIdGT}
			</if>
			<if test="@Ognl@isNotEmpty(materialIdLT)">
				AND t_message.material_id &lt; #{materialIdLT}
			</if>
			<if test="@Ognl@isNotEmpty(materialIdGE)">
				AND t_message.material_id &gt;= #{materialIdGE}
			</if>
			<if test="@Ognl@isNotEmpty(materialIdLE)">
				AND t_message.material_id &lt;= #{materialIdLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(materialIdList)">
				AND t_message.material_id in
				<foreach collection="materialIdList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(materialIdNotEqList)">
				AND t_message.material_id not in
				<foreach collection="materialIdNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
			<if test="@Ognl@isNotEmpty(category)">
				AND t_message.category = #{category}
			</if>
			<if test="@Ognl@isNotEmpty(categoryNotEq)">
				AND t_message.category &lt;&gt; #{categoryNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(categoryGT)">
				AND t_message.category &gt; #{categoryGT}
			</if>
			<if test="@Ognl@isNotEmpty(categoryLT)">
				AND t_message.category &lt; #{categoryLT}
			</if>
			<if test="@Ognl@isNotEmpty(categoryGE)">
				AND t_message.category &gt;= #{categoryGE}
			</if>
			<if test="@Ognl@isNotEmpty(categoryLE)">
				AND t_message.category &lt;= #{categoryLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(categoryList)">
				AND t_message.category in
				<foreach collection="categoryList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(categoryNotEqList)">
				AND t_message.category not in
				<foreach collection="categoryNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(name)">
				AND t_message.name = #{name}
			</if>
			<if test="@Ognl@isNotEmpty(nameLike)">
				AND t_message.name like CONCAT('%', CONVERT(#{nameLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(nameBeginLike)">
				AND t_message.name like CONCAT('', CONVERT(#{nameBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(nameEndLike)">
				AND t_message.name like CONCAT('%', CONVERT(#{nameEndLike}, char) ,'') 
			</if>
		   <if test="@Ognl@isNotEmpty(description)">
				AND t_message.description = #{description}
			</if>
			<if test="@Ognl@isNotEmpty(descriptionLike)">
				AND t_message.description like CONCAT('%', CONVERT(#{descriptionLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(descriptionBeginLike)">
				AND t_message.description like CONCAT('', CONVERT(#{descriptionBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(descriptionEndLike)">
				AND t_message.description like CONCAT('%', CONVERT(#{descriptionEndLike}, char) ,'') 
			</if>
	       <if test="@Ognl@isNotEmpty(sendTimeBegin)">
				AND t_message.send_time &gt;= #{sendTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(sendTimeEnd)">
				AND t_message.send_time &lt;= #{sendTimeEnd}
		   </if>
			<if test="@Ognl@isNotEmpty(status)">
				AND t_message.status = #{status}
			</if>
			<if test="@Ognl@isNotEmpty(statusNotEq)">
				AND t_message.status &lt;&gt; #{statusNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(statusGT)">
				AND t_message.status &gt; #{statusGT}
			</if>
			<if test="@Ognl@isNotEmpty(statusLT)">
				AND t_message.status &lt; #{statusLT}
			</if>
			<if test="@Ognl@isNotEmpty(statusGE)">
				AND t_message.status &gt;= #{statusGE}
			</if>
			<if test="@Ognl@isNotEmpty(statusLE)">
				AND t_message.status &lt;= #{statusLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(statusList)">
				AND t_message.status in
				<foreach collection="statusList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(statusNotEqList)">
				AND t_message.status not in
				<foreach collection="statusNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
	       <if test="@Ognl@isNotEmpty(modifiedBegin)">
				AND t_message.modified &gt;= #{modifiedBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(modifiedEnd)">
				AND t_message.modified &lt;= #{modifiedEnd}
		   </if>
		</where>
	</sql>
		
    <select id="Message.findPage.count" resultType="long">
        SELECT count(*) FROM t_message as t_message 
		<include refid="Message.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="Message.findPage" resultMap="Message.RM">
    	SELECT 
    	<include refid="Message.columns" />
	    FROM t_message as t_message 
		<include refid="Message.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
    
    <select id="Message.findList" resultMap="Message.RM">
    	SELECT 
    	<include refid="Message.columns" />
	     FROM t_message as t_message 
		<include refid="Message.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	
</mapper>

