<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="QuestionAnswer">

	<resultMap id="QuestionAnswer.RM" type="com.hosa.web.model.QuestionAnswer">
        <result property="id" column="id"/>        
        <result property="departmentId" column="department_id"/>        
        <result property="question" column="question"/>        
        <result property="answer" column="answer"/>        
        <result property="categoryId" column="category_id"/>        
        <result property="modified" column="modified"/>        
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="QuestionAnswer.columns">
	    <![CDATA[
		t_question_answer.id,t_question_answer.department_id,t_question_answer.question,t_question_answer.answer,t_question_answer.category_id,t_question_answer.modified
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="QuestionAnswer.insert" useGeneratedKeys="true" keyProperty="id">
   
        INSERT INTO t_question_answer (
	        	id
		     	<if test="@Ognl@isNotNull(departmentId)">
		        	,department_id
		      	</if>
		     	<if test="@Ognl@isNotNull(question)">
		        	,question
		      	</if>
		     	<if test="@Ognl@isNotNull(answer)">
		        	,answer
		      	</if>
		     	<if test="@Ognl@isNotNull(categoryId)">
		        	,category_id
		      	</if>
		     	<if test="@Ognl@isNotNull(modified)">
		        	,modified
		      	</if>
        
        ) VALUES (
	        	#{id}
		     	<if test="@Ognl@isNotNull(departmentId)">
		        	,#{departmentId}
		      	</if>
		     	<if test="@Ognl@isNotNull(question)">
		        	,#{question}
		      	</if>
		     	<if test="@Ognl@isNotNull(answer)">
		        	,#{answer}
		      	</if>
		     	<if test="@Ognl@isNotNull(categoryId)">
		        	,#{categoryId}
		      	</if>
		     	<if test="@Ognl@isNotNull(modified)">
		        	,#{modified}
		      	</if>
        )
    
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="QuestionAnswer.update" >
    
        UPDATE t_question_answer 
			<set>
		        <if test="@Ognl@isNotNull(departmentId)">
		        		department_id = #{departmentId},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(question)">
		        		question = #{question},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(answer)">
		        		answer = #{answer},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(categoryId)">
		        		category_id = #{categoryId},
		        	</if>
		        	
		        	
	        </set>
        WHERE 
	        id = #{id} 
			<if test="@Ognl@isNotNull(modified)">
		      and 
   			modified = #{modified}
		    </if>
   
	</update>

    <delete id="QuestionAnswer.delete">
    <![CDATA[
        DELETE FROM t_question_answer 
        WHERE
        id = #{id} 
    ]]>
    </delete>
    <delete id="QuestionAnswer.deleteMultiple">

        DELETE FROM t_question_answer 
        WHERE
        	id in
        	<foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
#{id}			</foreach>
          
   
    </delete>
    <select id="QuestionAnswer.getById" resultMap="QuestionAnswer.RM">
		SELECT 
		<include refid="QuestionAnswer.columns" />
	    <![CDATA[
		    FROM t_question_answer as t_question_answer
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
	<select id="QuestionAnswer.getByMultipleId" resultMap="QuestionAnswer.RM">
		SELECT 
		<include refid="QuestionAnswer.columns" />
		    FROM t_question_answer as t_question_answer
	        WHERE 
		       id in
        	<foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
#{id}			</foreach>
          
	</select>
	
	<sql id="QuestionAnswer.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
			<if test="@Ognl@isNotEmpty(id)">
				AND t_question_answer.id = #{id}
			</if>
			<if test="@Ognl@isNotEmpty(idNotEq)">
				AND t_question_answer.id &lt;&gt; #{idNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(idGT)">
				AND t_question_answer.id &gt; #{idGT}
			</if>
			<if test="@Ognl@isNotEmpty(idLT)">
				AND t_question_answer.id &lt; #{idLT}
			</if>
			<if test="@Ognl@isNotEmpty(idGE)">
				AND t_question_answer.id &gt;= #{idGE}
			</if>
			<if test="@Ognl@isNotEmpty(idLE)">
				AND t_question_answer.id &lt;= #{idLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(idList)">
				AND t_question_answer.id in
				<foreach collection="idList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(idNotEqList)">
				AND t_question_answer.id not in
				<foreach collection="idNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
			<if test="@Ognl@isNotEmpty(departmentId)">
				AND t_question_answer.department_id = #{departmentId}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdNotEq)">
				AND t_question_answer.department_id &lt;&gt; #{departmentIdNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdGT)">
				AND t_question_answer.department_id &gt; #{departmentIdGT}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdLT)">
				AND t_question_answer.department_id &lt; #{departmentIdLT}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdGE)">
				AND t_question_answer.department_id &gt;= #{departmentIdGE}
			</if>
			<if test="@Ognl@isNotEmpty(departmentIdLE)">
				AND t_question_answer.department_id &lt;= #{departmentIdLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(departmentIdList)">
				AND t_question_answer.department_id in
				<foreach collection="departmentIdList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(departmentIdNotEqList)">
				AND t_question_answer.department_id not in
				<foreach collection="departmentIdNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(question)">
				AND t_question_answer.question = #{question}
			</if>
			<if test="@Ognl@isNotEmpty(questionLike)">
				AND t_question_answer.question like CONCAT('%', CONVERT(#{questionLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(questionBeginLike)">
				AND t_question_answer.question like CONCAT('', CONVERT(#{questionBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(questionEndLike)">
				AND t_question_answer.question like CONCAT('%', CONVERT(#{questionEndLike}, char) ,'') 
			</if>
		   <if test="@Ognl@isNotEmpty(answer)">
				AND t_question_answer.answer = #{answer}
			</if>
			<if test="@Ognl@isNotEmpty(answerLike)">
				AND t_question_answer.answer like CONCAT('%', CONVERT(#{answerLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(answerBeginLike)">
				AND t_question_answer.answer like CONCAT('', CONVERT(#{answerBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(answerEndLike)">
				AND t_question_answer.answer like CONCAT('%', CONVERT(#{answerEndLike}, char) ,'') 
			</if>
			<if test="@Ognl@isNotEmpty(categoryId)">
				AND t_question_answer.category_id = #{categoryId}
			</if>
			<if test="@Ognl@isNotEmpty(categoryIdNotEq)">
				AND t_question_answer.category_id &lt;&gt; #{categoryIdNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(categoryIdGT)">
				AND t_question_answer.category_id &gt; #{categoryIdGT}
			</if>
			<if test="@Ognl@isNotEmpty(categoryIdLT)">
				AND t_question_answer.category_id &lt; #{categoryIdLT}
			</if>
			<if test="@Ognl@isNotEmpty(categoryIdGE)">
				AND t_question_answer.category_id &gt;= #{categoryIdGE}
			</if>
			<if test="@Ognl@isNotEmpty(categoryIdLE)">
				AND t_question_answer.category_id &lt;= #{categoryIdLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(categoryIdList)">
				AND t_question_answer.category_id in
				<foreach collection="categoryIdList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(categoryIdNotEqList)">
				AND t_question_answer.category_id not in
				<foreach collection="categoryIdNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
	       <if test="@Ognl@isNotEmpty(modifiedBegin)">
				AND t_question_answer.modified &gt;= #{modifiedBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(modifiedEnd)">
				AND t_question_answer.modified &lt;= #{modifiedEnd}
		   </if>
		</where>
	</sql>
		
    <select id="QuestionAnswer.findPage.count" resultType="long">
        SELECT count(*) FROM t_question_answer as t_question_answer 
		<include refid="QuestionAnswer.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="QuestionAnswer.findPage" resultMap="QuestionAnswer.RM">
    	SELECT 
    	<include refid="QuestionAnswer.columns" />
	    FROM t_question_answer as t_question_answer 
		<include refid="QuestionAnswer.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
    
    <select id="QuestionAnswer.findList" resultMap="QuestionAnswer.RM">
    	SELECT 
    	<include refid="QuestionAnswer.columns" />
	     FROM t_question_answer as t_question_answer 
		<include refid="QuestionAnswer.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	
</mapper>

