<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="RoleAuthorityRelation">

	<resultMap id="RoleAuthorityRelation.RM" type="com.hosa.web.model.RoleAuthorityRelation">
        <result property="id" column="id"/>        
        <result property="roleId" column="role_id"/>        
        <result property="authorityId" column="authority_id"/>        
        <result property="modified" column="modified"/> 
        
         <result property="role.id" column="role_id"/>    
        <result property="role.name" column="role_name"/>    
        
         <result property="authority.id" column="authority_id"/>    
        <result property="authority.name" column="authority_name"/>    
	       
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="RoleAuthorityRelation.columns">
	    <![CDATA[
		t_role_authority_relation.id,t_role_authority_relation.role_id,t_role_authority_relation.authority_id,t_role_authority_relation.modified
	    ]]>
	</sql>
	
	<sql id="RoleAuthorityRelation.Authority.columns">
	    <![CDATA[
		t_authority.id as authority_id, t_authority.name as authority_name
	    ]]>
	</sql>
	
	<sql id="RoleAuthorityRelation.Role.columns">
	    <![CDATA[
		t_role.id as role_id, t_role.name as role_name
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="RoleAuthorityRelation.insert" useGeneratedKeys="true" keyProperty="id">
   
        INSERT INTO t_role_authority_relation (
	        	id
		     	<if test="@Ognl@isNotNull(roleId)">
		        	,role_id
		      	</if>
		     	<if test="@Ognl@isNotNull(authorityId)">
		        	,authority_id
		      	</if>
		     	<if test="@Ognl@isNotNull(modified)">
		        	,modified
		      	</if>
        
        ) VALUES (
	        	#{id}
		     	<if test="@Ognl@isNotNull(roleId)">
		        	,#{roleId}
		      	</if>
		     	<if test="@Ognl@isNotNull(authorityId)">
		        	,#{authorityId}
		      	</if>
		     	<if test="@Ognl@isNotNull(modified)">
		        	,#{modified}
		      	</if>
        )
    
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="RoleAuthorityRelation.update" >
    
        UPDATE t_role_authority_relation 
			<set>
		        <if test="@Ognl@isNotNull(roleId)">
		        		role_id = #{roleId},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(authorityId)">
		        		authority_id = #{authorityId},
		        	</if>
		        	
		        	
	        </set>
        WHERE 
	        id = #{id} 
			<if test="@Ognl@isNotNull(modified)">
		      and 
   			modified = #{modified}
		    </if>
   
	</update>

    <delete id="RoleAuthorityRelation.delete">
    <![CDATA[
        DELETE FROM t_role_authority_relation 
        WHERE
        id = #{id} 
    ]]>
    </delete>
    <delete id="RoleAuthorityRelation.deleteMultiple">

        DELETE FROM t_role_authority_relation 
        WHERE
        	id in
        	<foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
#{id}			</foreach>
          
   
    </delete>
    <select id="RoleAuthorityRelation.getById" resultMap="RoleAuthorityRelation.RM">
		SELECT 
		<include refid="RoleAuthorityRelation.columns" />
	    <![CDATA[
		    FROM t_role_authority_relation as t_role_authority_relation
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
	<select id="RoleAuthorityRelation.getByMultipleId" resultMap="RoleAuthorityRelation.RM">
		SELECT 
		<include refid="RoleAuthorityRelation.columns" />
		    FROM t_role_authority_relation as t_role_authority_relation
	        WHERE 
		       id in
        	<foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
#{id}			</foreach>
          
	</select>
	
	<sql id="RoleAuthorityRelation.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
			<if test="@Ognl@isNotEmpty(id)">
				AND t_role_authority_relation.id = #{id}
			</if>
			<if test="@Ognl@isNotEmpty(idNotEq)">
				AND t_role_authority_relation.id &lt;&gt; #{idNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(idGT)">
				AND t_role_authority_relation.id &gt; #{idGT}
			</if>
			<if test="@Ognl@isNotEmpty(idLT)">
				AND t_role_authority_relation.id &lt; #{idLT}
			</if>
			<if test="@Ognl@isNotEmpty(idGE)">
				AND t_role_authority_relation.id &gt;= #{idGE}
			</if>
			<if test="@Ognl@isNotEmpty(idLE)">
				AND t_role_authority_relation.id &lt;= #{idLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(idList)">
				AND t_role_authority_relation.id in
				<foreach collection="idList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(idNotEqList)">
				AND t_role_authority_relation.id not in
				<foreach collection="idNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
			<if test="@Ognl@isNotEmpty(roleId)">
				AND t_role_authority_relation.role_id = #{roleId}
			</if>
			<if test="@Ognl@isNotEmpty(roleIdNotEq)">
				AND t_role_authority_relation.role_id &lt;&gt; #{roleIdNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(roleIdGT)">
				AND t_role_authority_relation.role_id &gt; #{roleIdGT}
			</if>
			<if test="@Ognl@isNotEmpty(roleIdLT)">
				AND t_role_authority_relation.role_id &lt; #{roleIdLT}
			</if>
			<if test="@Ognl@isNotEmpty(roleIdGE)">
				AND t_role_authority_relation.role_id &gt;= #{roleIdGE}
			</if>
			<if test="@Ognl@isNotEmpty(roleIdLE)">
				AND t_role_authority_relation.role_id &lt;= #{roleIdLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(roleIdList)">
				AND t_role_authority_relation.role_id in
				<foreach collection="roleIdList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(roleIdNotEqList)">
				AND t_role_authority_relation.role_id not in
				<foreach collection="roleIdNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
			<if test="@Ognl@isNotEmpty(authorityId)">
				AND t_role_authority_relation.authority_id = #{authorityId}
			</if>
			<if test="@Ognl@isNotEmpty(authorityIdNotEq)">
				AND t_role_authority_relation.authority_id &lt;&gt; #{authorityIdNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(authorityIdGT)">
				AND t_role_authority_relation.authority_id &gt; #{authorityIdGT}
			</if>
			<if test="@Ognl@isNotEmpty(authorityIdLT)">
				AND t_role_authority_relation.authority_id &lt; #{authorityIdLT}
			</if>
			<if test="@Ognl@isNotEmpty(authorityIdGE)">
				AND t_role_authority_relation.authority_id &gt;= #{authorityIdGE}
			</if>
			<if test="@Ognl@isNotEmpty(authorityIdLE)">
				AND t_role_authority_relation.authority_id &lt;= #{authorityIdLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(authorityIdList)">
				AND t_role_authority_relation.authority_id in
				<foreach collection="authorityIdList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(authorityIdNotEqList)">
				AND t_role_authority_relation.authority_id not in
				<foreach collection="authorityIdNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
	       <if test="@Ognl@isNotEmpty(modifiedBegin)">
				AND t_role_authority_relation.modified &gt;= #{modifiedBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(modifiedEnd)">
				AND t_role_authority_relation.modified &lt;= #{modifiedEnd}
		   </if>
		</where>
	</sql>
		
    <select id="RoleAuthorityRelation.findPage.count" resultType="long">
        SELECT count(*) FROM t_role_authority_relation as t_role_authority_relation 
		<include refid="RoleAuthorityRelation.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="RoleAuthorityRelation.findPage" resultMap="RoleAuthorityRelation.RM">
    	SELECT 
    	<include refid="RoleAuthorityRelation.columns" />
	    FROM t_role_authority_relation as t_role_authority_relation 
		<include refid="RoleAuthorityRelation.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
    
    <select id="RoleAuthorityRelation.findList" resultMap="RoleAuthorityRelation.RM">
    	SELECT 
    	<include refid="RoleAuthorityRelation.columns" />
    	,<include refid="RoleAuthorityRelation.Authority.columns" />
    	,<include refid="RoleAuthorityRelation.Role.columns" />
	     FROM t_role_authority_relation as t_role_authority_relation 
	     inner join
	     t_authority as t_authority
	     on t_role_authority_relation.authority_id = t_authority.id
	     inner join 
	     t_role as t_role
	     on t_role_authority_relation.role_id = t_role.id
		<include refid="RoleAuthorityRelation.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	
</mapper>

