<div class="hidden-xs col-sm-5">
	<div class="dataTables_info">
		显示 <label paging-summary-record-first></label> 到 <label
			paging-summary-record-last></label>条， 共 <label
			paging-summary-record-total></label> 条
	</div>
</div>
<div class="hidden-xs col-sm-1 text-right">
	<span class="smart-form"><label class="select"
		style="width:60px"><select size="1" paging-data-size><option
					value="10" selected="selected">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option></select><i></i></label></span>
</div>
<div class="col-xs-12 col-sm-6 text-right">

	<div class="dataTables_paginate paging_bootstrap">

		<ul class="pagination ">
			<li paging-data-previous><a href="javascript:void(0);"><i
					class="fa fa-angle-left"></i></a></li>
			<li paging-data-link-current><a href="javascript:void(0);"><paging>1</paging></a></li>
			<li paging-data-link><a href="javascript:void(0);"><paging>2</paging></a></li>
			<li paging-data-link><a href="javascript:void(0);"><paging>3</paging></a></li>
			<li paging-data-link><a href="javascript:void(0);"><paging>4</paging></a></li>
			<li paging-data-link><a href="javascript:void(0);"><paging>5</paging></a></li>
			<li paging-data-next><a href="javascript:void(0);"><i
					class="fa fa-angle-right"></i></a></li>
		</ul>
	</div>
</div>