<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="ArticleCategory">

	<resultMap id="ArticleCategory.RM" type="com.mexp.web.model.ArticleCategory">
        <result property="id" column="id"/>        
        <result property="tenantId" column="tenant_id"/>        
        <result property="categoryName" column="category_name"/>        
        <result property="picTitle" column="pic_title"/>        
        <result property="picUrl" column="pic_url"/>        
        <result property="sort" column="sort"/>        
        <result property="logoUrl" column="logo_url"/>        
        <result property="type" column="type"/>        
        <result property="outsideLink" column="outsideLink"/>        
        <result property="modified" column="modified"/>        
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="ArticleCategory.columns">
	    <![CDATA[
		t_article_category.id,t_article_category.tenant_id,t_article_category.category_name,t_article_category.pic_title,t_article_category.pic_url,t_article_category.sort,t_article_category.logo_url,t_article_category.type,t_article_category.outsideLink,t_article_category.modified
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="ArticleCategory.insert" useGeneratedKeys="true" keyProperty="id">
   
        INSERT INTO t_article_category (
	        	id
		     	<if test="@Ognl@isNotNull(tenantId)">
		        	,tenant_id
		      	</if>
		     	<if test="@Ognl@isNotNull(categoryName)">
		        	,category_name
		      	</if>
		     	<if test="@Ognl@isNotNull(picTitle)">
		        	,pic_title
		      	</if>
		     	<if test="@Ognl@isNotNull(picUrl)">
		        	,pic_url
		      	</if>
		     	<if test="@Ognl@isNotNull(sort)">
		        	,sort
		      	</if>
		     	<if test="@Ognl@isNotNull(logoUrl)">
		        	,logo_url
		      	</if>
		     	<if test="@Ognl@isNotNull(type)">
		        	,type
		      	</if>
		     	<if test="@Ognl@isNotNull(outsideLink)">
		        	,outsideLink
		      	</if>
		     	<if test="@Ognl@isNotNull(modified)">
		        	,modified
		      	</if>
        
        ) VALUES (
	        	#{id}
		     	<if test="@Ognl@isNotNull(tenantId)">
		        	,#{tenantId}
		      	</if>
		     	<if test="@Ognl@isNotNull(categoryName)">
		        	,#{categoryName}
		      	</if>
		     	<if test="@Ognl@isNotNull(picTitle)">
		        	,#{picTitle}
		      	</if>
		     	<if test="@Ognl@isNotNull(picUrl)">
		        	,#{picUrl}
		      	</if>
		     	<if test="@Ognl@isNotNull(sort)">
		        	,#{sort}
		      	</if>
		     	<if test="@Ognl@isNotNull(logoUrl)">
		        	,#{logoUrl}
		      	</if>
		     	<if test="@Ognl@isNotNull(type)">
		        	,#{type}
		      	</if>
		     	<if test="@Ognl@isNotNull(outsideLink)">
		        	,#{outsideLink}
		      	</if>
		     	<if test="@Ognl@isNotNull(modified)">
		        	,#{modified}
		      	</if>
        )
    
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="ArticleCategory.update" >
    
        UPDATE t_article_category 
			<set>
		        <if test="@Ognl@isNotNull(tenantId)">
		        		tenant_id = #{tenantId},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(categoryName)">
		        		category_name = #{categoryName},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(picTitle)">
		        		pic_title = #{picTitle},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(picUrl)">
		        		pic_url = #{picUrl},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(sort)">
		        		sort = #{sort},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(logoUrl)">
		        		logo_url = #{logoUrl},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(type)">
		        		type = #{type},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(outsideLink)">
		        		outsideLink = #{outsideLink},
		        	</if>
		        	
		        	
	        </set>
        WHERE 
	        id = #{id} 
			<if test="@Ognl@isNotNull(modified)">
		      and 
   			modified = #{modified}
		    </if>
   
	</update>

    <delete id="ArticleCategory.delete">
    <![CDATA[
        DELETE FROM t_article_category 
        WHERE
        id = #{id} 
    ]]>
    </delete>
    <delete id="ArticleCategory.deleteMultiple">

        DELETE FROM t_article_category 
        WHERE
        	id in
        	<foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
#{id}			</foreach>
          
   
    </delete>
    <select id="ArticleCategory.getById" resultMap="ArticleCategory.RM">
		SELECT 
		<include refid="ArticleCategory.columns" />
	    <![CDATA[
		    FROM t_article_category as t_article_category
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
	<select id="ArticleCategory.getByMultipleId" resultMap="ArticleCategory.RM">
		SELECT 
		<include refid="ArticleCategory.columns" />
		    FROM t_article_category as t_article_category
	        WHERE 
		       id in
        	<foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
#{id}			</foreach>
          
	</select>
	
	<sql id="ArticleCategory.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
			<if test="@Ognl@isNotEmpty(id)">
				AND t_article_category.id = #{id}
			</if>
			<if test="@Ognl@isNotEmpty(idNotEq)">
				AND t_article_category.id &lt;&gt; #{idNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(idGT)">
				AND t_article_category.id &gt; #{idGT}
			</if>
			<if test="@Ognl@isNotEmpty(idLT)">
				AND t_article_category.id &lt; #{idLT}
			</if>
			<if test="@Ognl@isNotEmpty(idGE)">
				AND t_article_category.id &gt;= #{idGE}
			</if>
			<if test="@Ognl@isNotEmpty(idLE)">
				AND t_article_category.id &lt;= #{idLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(idList)">
				AND t_article_category.id in
				<foreach collection="idList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(idNotEqList)">
				AND t_article_category.id not in
				<foreach collection="idNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
			<if test="@Ognl@isNotEmpty(tenantId)">
				AND t_article_category.tenant_id = #{tenantId}
			</if>
			<if test="@Ognl@isNotEmpty(tenantIdNotEq)">
				AND t_article_category.tenant_id &lt;&gt; #{tenantIdNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(tenantIdGT)">
				AND t_article_category.tenant_id &gt; #{tenantIdGT}
			</if>
			<if test="@Ognl@isNotEmpty(tenantIdLT)">
				AND t_article_category.tenant_id &lt; #{tenantIdLT}
			</if>
			<if test="@Ognl@isNotEmpty(tenantIdGE)">
				AND t_article_category.tenant_id &gt;= #{tenantIdGE}
			</if>
			<if test="@Ognl@isNotEmpty(tenantIdLE)">
				AND t_article_category.tenant_id &lt;= #{tenantIdLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(tenantIdList)">
				AND t_article_category.tenant_id in
				<foreach collection="tenantIdList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(tenantIdNotEqList)">
				AND t_article_category.tenant_id not in
				<foreach collection="tenantIdNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(categoryName)">
				AND t_article_category.category_name = #{categoryName}
			</if>
			<if test="@Ognl@isNotEmpty(categoryNameLike)">
				AND t_article_category.category_name like CONCAT('%', CONVERT(#{categoryNameLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(categoryNameBeginLike)">
				AND t_article_category.category_name like CONCAT('', CONVERT(#{categoryNameBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(categoryNameEndLike)">
				AND t_article_category.category_name like CONCAT('%', CONVERT(#{categoryNameEndLike}, char) ,'') 
			</if>
		   <if test="@Ognl@isNotEmpty(picTitle)">
				AND t_article_category.pic_title = #{picTitle}
			</if>
			<if test="@Ognl@isNotEmpty(picTitleLike)">
				AND t_article_category.pic_title like CONCAT('%', CONVERT(#{picTitleLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(picTitleBeginLike)">
				AND t_article_category.pic_title like CONCAT('', CONVERT(#{picTitleBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(picTitleEndLike)">
				AND t_article_category.pic_title like CONCAT('%', CONVERT(#{picTitleEndLike}, char) ,'') 
			</if>
		   <if test="@Ognl@isNotEmpty(picUrl)">
				AND t_article_category.pic_url = #{picUrl}
			</if>
			<if test="@Ognl@isNotEmpty(picUrlLike)">
				AND t_article_category.pic_url like CONCAT('%', CONVERT(#{picUrlLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(picUrlBeginLike)">
				AND t_article_category.pic_url like CONCAT('', CONVERT(#{picUrlBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(picUrlEndLike)">
				AND t_article_category.pic_url like CONCAT('%', CONVERT(#{picUrlEndLike}, char) ,'') 
			</if>
			<if test="@Ognl@isNotEmpty(sort)">
				AND t_article_category.sort = #{sort}
			</if>
			<if test="@Ognl@isNotEmpty(sortNotEq)">
				AND t_article_category.sort &lt;&gt; #{sortNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(sortGT)">
				AND t_article_category.sort &gt; #{sortGT}
			</if>
			<if test="@Ognl@isNotEmpty(sortLT)">
				AND t_article_category.sort &lt; #{sortLT}
			</if>
			<if test="@Ognl@isNotEmpty(sortGE)">
				AND t_article_category.sort &gt;= #{sortGE}
			</if>
			<if test="@Ognl@isNotEmpty(sortLE)">
				AND t_article_category.sort &lt;= #{sortLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(sortList)">
				AND t_article_category.sort in
				<foreach collection="sortList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(sortNotEqList)">
				AND t_article_category.sort not in
				<foreach collection="sortNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(logoUrl)">
				AND t_article_category.logo_url = #{logoUrl}
			</if>
			<if test="@Ognl@isNotEmpty(logoUrlLike)">
				AND t_article_category.logo_url like CONCAT('%', CONVERT(#{logoUrlLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(logoUrlBeginLike)">
				AND t_article_category.logo_url like CONCAT('', CONVERT(#{logoUrlBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(logoUrlEndLike)">
				AND t_article_category.logo_url like CONCAT('%', CONVERT(#{logoUrlEndLike}, char) ,'') 
			</if>
			<if test="@Ognl@isNotEmpty(type)">
				AND t_article_category.type = #{type}
			</if>
			<if test="@Ognl@isNotEmpty(typeNotEq)">
				AND t_article_category.type &lt;&gt; #{typeNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(typeGT)">
				AND t_article_category.type &gt; #{typeGT}
			</if>
			<if test="@Ognl@isNotEmpty(typeLT)">
				AND t_article_category.type &lt; #{typeLT}
			</if>
			<if test="@Ognl@isNotEmpty(typeGE)">
				AND t_article_category.type &gt;= #{typeGE}
			</if>
			<if test="@Ognl@isNotEmpty(typeLE)">
				AND t_article_category.type &lt;= #{typeLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(typeList)">
				AND t_article_category.type in
				<foreach collection="typeList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(typeNotEqList)">
				AND t_article_category.type not in
				<foreach collection="typeNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(outsideLink)">
				AND t_article_category.outsideLink = #{outsideLink}
			</if>
			<if test="@Ognl@isNotEmpty(outsideLinkLike)">
				AND t_article_category.outsideLink like CONCAT('%', CONVERT(#{outsideLinkLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(outsideLinkBeginLike)">
				AND t_article_category.outsideLink like CONCAT('', CONVERT(#{outsideLinkBeginLike}, char) ,'%') 
			</if>
			<if test="@Ognl@isNotEmpty(outsideLinkEndLike)">
				AND t_article_category.outsideLink like CONCAT('%', CONVERT(#{outsideLinkEndLike}, char) ,'') 
			</if>
	       <if test="@Ognl@isNotEmpty(modifiedBegin)">
				AND t_article_category.modified &gt;= #{modifiedBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(modifiedEnd)">
				AND t_article_category.modified &lt;= #{modifiedEnd}
		   </if>
		</where>
	</sql>
		
    <select id="ArticleCategory.findPage.count" resultType="long">
        SELECT count(*) FROM t_article_category as t_article_category 
		<include refid="ArticleCategory.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="ArticleCategory.findPage" resultMap="ArticleCategory.RM">
    	SELECT 
    	<include refid="ArticleCategory.columns" />
	    FROM t_article_category as t_article_category 
		<include refid="ArticleCategory.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
    
    <select id="ArticleCategory.findList" resultMap="ArticleCategory.RM">
    	SELECT 
    	<include refid="ArticleCategory.columns" />
	     FROM t_article_category as t_article_category 
		<include refid="ArticleCategory.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	
</mapper>

