<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="GroupUserRelation">

	<resultMap id="GroupUserRelation.RM" type="com.mexp.web.model.GroupUserRelation">
        <result property="id" column="id"/>        
        <result property="groupId" column="group_id"/>        
        <result property="userId" column="user_id"/>        
        <result property="modified" column="modified"/>        
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="GroupUserRelation.columns">
	    <![CDATA[
		t_group_user_relation.id,t_group_user_relation.group_id,t_group_user_relation.user_id,t_group_user_relation.modified
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="GroupUserRelation.insert" useGeneratedKeys="true" keyProperty="id">
   
        INSERT INTO t_group_user_relation (
	        	id
		     	<if test="@Ognl@isNotNull(groupId)">
		        	,group_id
		      	</if>
		     	<if test="@Ognl@isNotNull(userId)">
		        	,user_id
		      	</if>
		     	<if test="@Ognl@isNotNull(modified)">
		        	,modified
		      	</if>
        
        ) VALUES (
	        	#{id}
		     	<if test="@Ognl@isNotNull(groupId)">
		        	,#{groupId}
		      	</if>
		     	<if test="@Ognl@isNotNull(userId)">
		        	,#{userId}
		      	</if>
		     	<if test="@Ognl@isNotNull(modified)">
		        	,#{modified}
		      	</if>
        )
    
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="GroupUserRelation.update" >
    
        UPDATE t_group_user_relation 
			<set>
		        <if test="@Ognl@isNotNull(groupId)">
		        		group_id = #{groupId},
		        	</if>
		        	
		        <if test="@Ognl@isNotNull(userId)">
		        		user_id = #{userId},
		        	</if>
		        	
		        	
	        </set>
        WHERE 
	        id = #{id} 
			<if test="@Ognl@isNotNull(modified)">
		      and 
   			modified = #{modified}
		    </if>
   
	</update>

    <delete id="GroupUserRelation.delete">
    <![CDATA[
        DELETE FROM t_group_user_relation 
        WHERE
        id = #{id} 
    ]]>
    </delete>
    <delete id="GroupUserRelation.deleteMultiple">

        DELETE FROM t_group_user_relation 
        WHERE
        	id in
        	<foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
#{id}			</foreach>
          
   
    </delete>
    <select id="GroupUserRelation.getById" resultMap="GroupUserRelation.RM">
		SELECT 
		<include refid="GroupUserRelation.columns" />
	    <![CDATA[
		    FROM t_group_user_relation as t_group_user_relation
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
	<select id="GroupUserRelation.getByMultipleId" resultMap="GroupUserRelation.RM">
		SELECT 
		<include refid="GroupUserRelation.columns" />
		    FROM t_group_user_relation as t_group_user_relation
	        WHERE 
		       id in
        	<foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
#{id}			</foreach>
          
	</select>
	
	<sql id="GroupUserRelation.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
			<if test="@Ognl@isNotEmpty(id)">
				AND t_group_user_relation.id = #{id}
			</if>
			<if test="@Ognl@isNotEmpty(idNotEq)">
				AND t_group_user_relation.id &lt;&gt; #{idNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(idGT)">
				AND t_group_user_relation.id &gt; #{idGT}
			</if>
			<if test="@Ognl@isNotEmpty(idLT)">
				AND t_group_user_relation.id &lt; #{idLT}
			</if>
			<if test="@Ognl@isNotEmpty(idGE)">
				AND t_group_user_relation.id &gt;= #{idGE}
			</if>
			<if test="@Ognl@isNotEmpty(idLE)">
				AND t_group_user_relation.id &lt;= #{idLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(idList)">
				AND t_group_user_relation.id in
				<foreach collection="idList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(idNotEqList)">
				AND t_group_user_relation.id not in
				<foreach collection="idNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
			<if test="@Ognl@isNotEmpty(groupId)">
				AND t_group_user_relation.group_id = #{groupId}
			</if>
			<if test="@Ognl@isNotEmpty(groupIdNotEq)">
				AND t_group_user_relation.group_id &lt;&gt; #{groupIdNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(groupIdGT)">
				AND t_group_user_relation.group_id &gt; #{groupIdGT}
			</if>
			<if test="@Ognl@isNotEmpty(groupIdLT)">
				AND t_group_user_relation.group_id &lt; #{groupIdLT}
			</if>
			<if test="@Ognl@isNotEmpty(groupIdGE)">
				AND t_group_user_relation.group_id &gt;= #{groupIdGE}
			</if>
			<if test="@Ognl@isNotEmpty(groupIdLE)">
				AND t_group_user_relation.group_id &lt;= #{groupIdLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(groupIdList)">
				AND t_group_user_relation.group_id in
				<foreach collection="groupIdList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(groupIdNotEqList)">
				AND t_group_user_relation.group_id not in
				<foreach collection="groupIdNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
			<if test="@Ognl@isNotEmpty(userId)">
				AND t_group_user_relation.user_id = #{userId}
			</if>
			<if test="@Ognl@isNotEmpty(userIdNotEq)">
				AND t_group_user_relation.user_id &lt;&gt; #{userIdNotEq}
			</if>
			<if test="@Ognl@isNotEmpty(userIdGT)">
				AND t_group_user_relation.user_id &gt; #{userIdGT}
			</if>
			<if test="@Ognl@isNotEmpty(userIdLT)">
				AND t_group_user_relation.user_id &lt; #{userIdLT}
			</if>
			<if test="@Ognl@isNotEmpty(userIdGE)">
				AND t_group_user_relation.user_id &gt;= #{userIdGE}
			</if>
			<if test="@Ognl@isNotEmpty(userIdLE)">
				AND t_group_user_relation.user_id &lt;= #{userIdLE}
			</if>
	
			<if test="@Ognl@isNotEmpty(userIdList)">
				AND t_group_user_relation.user_id in
				<foreach collection="userIdList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
		   <if test="@Ognl@isNotEmpty(userIdNotEqList)">
				AND t_group_user_relation.user_id not in
				<foreach collection="userIdNotEqList" item="id" index="index" open="(" close=")" separator="," >
#{id}				</foreach>
		   </if>
	       <if test="@Ognl@isNotEmpty(modifiedBegin)">
				AND t_group_user_relation.modified &gt;= #{modifiedBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(modifiedEnd)">
				AND t_group_user_relation.modified &lt;= #{modifiedEnd}
		   </if>
		</where>
	</sql>
		
    <select id="GroupUserRelation.findPage.count" resultType="long">
        SELECT count(*) FROM t_group_user_relation as t_group_user_relation 
		<include refid="GroupUserRelation.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="GroupUserRelation.findPage" resultMap="GroupUserRelation.RM">
    	SELECT 
    	<include refid="GroupUserRelation.columns" />
	    FROM t_group_user_relation as t_group_user_relation 
		<include refid="GroupUserRelation.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
    
    <select id="GroupUserRelation.findList" resultMap="GroupUserRelation.RM">
    	SELECT 
    	<include refid="GroupUserRelation.columns" />
	     FROM t_group_user_relation as t_group_user_relation 
		<include refid="GroupUserRelation.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	
</mapper>

